ipykernel
langchain
python-dotenv
langchain-community
langchain-core
streamlit
langchain-groq
langchain-huggingface
sentence-transformers
pypdf
faiss-cpu
chromadb
langchain-chroma
arxiv
wikipedia
SQLAlchemy
validators
youtube_transcript_api
openai
unstructured
langchain_openai
pytube